/* Общие стили для блока */
.block {
    width: 100%; /* Заменяем 100vh на 100% для правильной ширины */
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем дочерние элементы по горизонтали */
}

/* Заголовок */
.block h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    margin-left: 120%;
    color: #333;
    width: 100%; /* Чтобы текст центрировался в рамках всей ширины .block */
}

/* Сетка для карточек */
.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Центрируем карточки внутри .row */
}

/* Стиль карточки */
.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    text-decoration: none;
    color: inherit;
    width: 300px;
    height: 280px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* URL и время */
.url {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007BFF;
}

.time {
    margin-bottom: 20px;
    color: #666;
}

/* Стили для списка сервисов */
.list_services .info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Статусы сервисов */
.green, .red, .black {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.green {
    background-color: #28a745;
}

.red {
    background-color: #dc3545;
}

.black {
    background-color: #343a40;
}

/* Информация об эндпоинте */
.endpoint_info {
    font-weight: bold;
    flex: 1;
}

/* Статус */
.status {
    color: #666;
}

/* Стили для CRUD-статусов */
.user_may {
    margin-top: 10px;
}

.crud_status {
    font-size: 0.9em;
    color: #28a745;
    margin-top: 5px;
}

.crud_status_left {
    margin-left: 20px;
}