/* Контейнер всей страницы */
.root {
    width: 1660px;
}

.block {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; /* Центрируем карточки по горизонтали */
    width: 100%;
}

/* Сделаем карточки адаптивными */
.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    text-decoration: none;
    color: inherit;
    width: calc(100% / 3 - 40px); /* адаптивно: 3 карточки в ряд */
    max-width: 360px;
    min-width: 280px;
    height: 280px;
}

@media (max-width: 1024px) {
    .card {
        width: calc(50% - 40px);
    }
}

@media (max-width: 600px) {
    .card {
        width: 100%;
    }
}


/* Шапка */
.header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: #007bff 1px solid;
}

.system-title {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    flex: 1;
    color: #333;
}

.header-actions {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Кнопки шапки */
.incidents-button,
.settings-button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.settings-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.incidents-button:hover,
.settings-button:hover {
    background-color: #0056b3;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* URL и время */
.url {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #007BFF;
}

.time {
    margin-bottom: 20px;
    color: #666;
}

.list_services .info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Статусы сервисов */
.green, .red, .black {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.green {
    background-color: #28a745;
}

.red {
    background-color: #dc3545;
}

.black {
    background-color: #343a40;
}

.endpoint_info {
    font-weight: bold;
    flex: 1;
}

.status {
    color: #666;
}

.user_may {
    margin-top: 10px;
}

.crud_status {
    font-size: 0.9em;
    color: #28a745;
    margin-top: 5px;
}

.crud_status_left {
    margin-left: 20px;
}

/* Простейший стиль модального окна */
.modal {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
